<h1>지원서 보기</h1>
<table>
  <tr>
    <th>No.</th>
    <th>이름</th> 
    <th>생년월일</th>
    <th>학과</th>
    <th>연락처</th>
    <th>지원자보기</th>
  </tr>
  <tr>
    <td>1</td>
    <td>전다현</td> 
    <td>1997/08/06</td>
    <td>컴퓨터공학과</td>
    <td><%= @club.</td>
    <td>보기</td>
  </tr>
</table>