  <!-- Container -->
  <div>검색창(Gem 이용)</div>
  <br><br>
  <div class="club_menu">
    <ul>
      <li><a href="#" class="club_menu_click">전체</a></li>
      <li><a href="#">문화/예술/공연</a></li>
      <li><a href="#">봉사/사회활동</a></li>
      <li><a href="#">학술/교양</a></li>
      <li><a href="#">기타</a></li>
    </ul>
  </div>
  <div>
    <hr class="club_hr border-color2">
  </div>

<!-- 동아리 -->
  <div id=club-new-note class="club_new_wrap">
    <form action='/club' method='post' name='aaa'> 
      <input name='authenticity_token' type='hidden' value=<%= form_authenticity_token %>></input>
      <input name='input_mainCategory' type='hidden' value='club'></input>
      <div class="club_new_container">
        <h1 class="club_new_title">동아리 정보</h1>
        <div class="club_new_content">
          <p class="club_new_notice">* 별표 표시는 필수 항목입니다.</p>
          <input class="input_ver1" size="38" name='club_title' type='text' placeholder='동아리 이름 *' required></input><br>
          <사진 첨부 기능><br>
          <input class="input_ver1" size="89" name='club_subtitle' type='text' placeholder="동아리 한 줄 소개 *" required></input>
          
          <p class="club_new_subtitle">분야*</p>
          <div class="club_new_radiobox">
            <input type="radio" name="input_field" value=1 checked> <span class="club_new_radio_text">문화/예술/공연</span>
            <input type="radio" name="input_field" value=2> <span>봉사/사회활동</span>
            <input type="radio" name="input_field" value=3> <span>학술/교양</span>
            <input type="radio" name="input_field" value=4> <span>창업/취업</span><br>
            <input type="radio" name="input_field" value=5> <span>어학</span>
            <input type="radio" name="input_field" value=6> <span>체육</span>
            <input type="radio" name="input_field" value=7> <span>친목</span>
            <input type="radio" name="input_field" value=8> <span>기타</span>
          </div>
          <p class="club_new_subtitle">동아리 유형*</p>
          <div class="club_new_radiobox">
            <input type="radio" name="input_type" value=1 checked> <span class="club_new_radio_text">중앙 동아리<span>
            <input type="radio" name="input_type" value=2> 비공식 동아리
            <input type="radio" name="input_type" value=3> 향우회
            <input type="radio" name="input_type" value=4> 소모임
          </div>
          <p class="club_new_subtitle">동아리방 유무</p>
          <div class="club_new_radiobox">
            <input type="radio" name="input_room" value=1 checked> 있다
            <input type="radio" name="input_room" value=2> 없다
          </div>
          <p class="club_new_subtitle">규모*</p>
          <div class="club_new_radiobox">
            <input type="radio" name="input_size" value=1 checked> 10명 미만
            <input type="radio" name="input_size" value=2> 10~30명
            <input type="radio" name="input_size" value=3> 30~50명
            <input type="radio" name="input_size" value=4> 50명 이상
          </div>
        </div>
      </div>  
      
      <div class="club_new_container">
        <h1 class="club_new_title">모집 공고</h1>
        <div class="club_new_content">
          <p class="club_new_notice">* 별표 표시는 필수 항목입니다.</p>
          <input name='input_title' class='input_ver1' size="89" type='text' placeholder='제목 *' required></input><br>
          
          <p class="club_new_subtitle">모집 기간*</p>
          <p class="club_new_subtitle">상세 모집 일정</p>
            <textarea name='input_content1' class='input_ver1' cols=93 rows=6 placeholder="※동아리 별도의 면접 일정이 있다면 적어주세요." required ></textarea>
          <p class="club_new_subtitle">지원자격*</p>
            <textarea name='input_content2' class='input_ver1' cols=93 rows=6 placeholder="※동아리 지원 자격을 구체적으로 적어주세요." required ></textarea>
          
          <p class="club_new_subtitle">상세 내용*</p>
            <textarea name='input_content3' class='input_ver1' cols=93 rows=10 placeholder="※활동 내용, 모임 시간 및 장소, 모집 대상, 지원 방법, 연락처 등 상세 내용을 자유롭게 적어주세요." required ></textarea>
          <p class="club_new_subtitle"><활동사진 첨부 기능></p>
            
        </div>
      </div>
      <input type='submit'></input>
    </form>
  </div>