  <!-- Container -->
  <div>검색창(Gem 이용)</div>
  <br><br>
  <div class="club_menu">
    <ul>
      <li><a href="#" class="club_menu_click">전체</a></li>
      <li><a href="#">문화/예술/공연</a></li>
      <li><a href="#">봉사/사회활동</a></li>
      <li><a href="#">학술/교양</a></li>
      <li><a href="#">기타</a></li>
    </ul>
  </div>
  <div>
    <hr class="club_hr border-color2">
  </div>

<!-- 동아리 -->
  <div class="club_content1 l-fixed">
    <form action='/club' method='post' name='aaa'> 
      <input name='authenticity_token' type='hidden' value=<%= form_authenticity_token %>></input>
      
      <h1>동아리 정보</h1>
      <p>* 별표 표시는 필수 항목입니다.</p>
      <input name='input_title' type='text' placeholder='동아리 이름 *' required class='input_box1'></input>
      <input>사진 첨부</input>
      <input name='input_subtitle' type='text' placeholder="동아리 한 줄 소개 *" required class="input_box2"></input>
      
      <p>분야*</p>
      <div>
        <input type="radio" name="input_field" value=1> 문화/예술/공연
        <input type="radio" name="input_field" value=2> 봉사/사회활동
        <input type="radio" name="input_field" value=3> 학술/교양
        <input type="radio" name="input_field" value=4> 창업/취업
        <input type="radio" name="input_field" value=5> 어학
        <input type="radio" name="input_field" value=6> 체육
        <input type="radio" name="input_field" value=7> 친목
        <input type="radio" name="input_field" value=8> 기타
      </div>
      <p>동아리 유형*</p>
      <div>
        <input type="radio" name="input_type" value=1> 중앙 동아리
        <input type="radio" name="input_type" value=2> 비공식 동아리
        <input type="radio" name="input_type" value=3> 향우회
        <input type="radio" name="input_type" value=4> 소모임
      </div>
      <p>동아리방 유무</p>
      <div>
        <input type="radio" name="input_room" value=1> 있다
        <input type="radio" name="input_room" value=2> 없다
      </div>
      <p>규모*</p>
      <div>
        <input type="radio" name="input_size" value=1> 10명 미만
        <input type="radio" name="input_size" value=2> 10~30명
        <input type="radio" name="input_size" value=3> 30~50명
        <input type="radio" name="input_size" value=4> 50명 이상
      </div>
      
      
      
      <textarea name="input_qualification" cols="25" rows="5" placeholder="지원자격을 입력해주세요." required></textarea>
      <textarea name="input_content" cols="130" rows="8" placeholder="동아리에 대한 상세 내용을 적어주세요." required></textarea>
      <input name='input_mainCategory' type='hidden' value='club'></input>
      <input type='submit'></input>
    </form>
  </div>