@charset "UTF-8";
.color1 {
    color: rgb(171, 212, 151);
}

.border-color1 {
    border-color: rgb(171, 212, 151);
}

.bg-color1 {
    background-color: rgb(171, 212, 151);
}


.color2 {
    color: rgb(231, 231, 231);
}

.border-color2 {
    border-color: rgb(231, 231, 231);
}

.bg-color2 {
    background-color: rgb(231, 231, 231);
}

.black1 {
    color: black;
}

.black2 {
    color: rgb(50, 50, 50);
}

.black3 {
    color: rgb(100, 100, 100);
}
