<div id="mypage-container" class="s-horizon_wrap">
    <%= render 'mypage/nav' %>
    <%= @mypage = request.env['PATH_INFO'].include?"/mypage/info" %>
    <%= @mypage == true %>
    <div id="mypage-info" class="s-horizon">
        <h1>회원정보수정</h1>
        <h2>비밀번호 재확인</h2>
        <hr class="info_line">
        <div class="info_wrap2">
            <p>
                <span class="info_subtitle2">이메일</span>
                <span class="info_content2">qwer@naver.com</span>
            </p>
            <p>
                <span class="info_subtitle2">비밀번호</span>
                <input type="text" class="info_input"></input>
            </p>
        </div>
        <hr class="info_line">
        <div class="mypage_btn_wrap">
            <a href="/mypage/info/change" class="mypage_btn1 bg-color1">확인</a>
            <a href="/mypage/info" class="mypage_btn1">취소</a>
        </div>
    </div>
</div>