<div id="mypage-container" class="s-horizon_wrap">
    <%= render 'mypage/nav' %>
    
    <div id="mypage-info" class="s-horizon">
        <h1>회원정보수정</h1>
        <h2>정보입력</h2>
        <hr class="info_line">
        <div class="info_wrap2">
            <p>
                <span class="info_subtitle2">이름</span>
                <span class="info_content2">전다현</span>
            </p>
            <p>
                <span class="info_subtitle2">학번</span>
                <span class="info_content2">12161649</span>
            </p>
            <p>
                <span class="info_subtitle2">비밀번호</span>
                <input type="text" class="info_input"></input>
            </p>
            <p>
                <span class="info_subtitle2">비밀번호확인</span>
                <input type="text" class="info_input"></input>
            </p>
            <p>
                <span class="info_subtitle2">학교</span>
                <span class="info_content2">인하대학교</span>
            </p>
            <p>
                <span class="info_subtitle2">학과</span>
                <span class="info_content2">컴퓨터공학</span>
            </p>
            <p>
                <span class="info_subtitle2">이메일</span>
                <span class="info_content2">qwer@nave.com</span>
            </p>
        </div>
        <hr class="info_line">
        <div class="mypage_btn_wrap">
            <a href="/mypage/info/complete" class="mypage_btn1 bg-color1">저장</a>
            <a href="/mypage/info" class="mypage_btn1">취소</a>
        </div>
    </div>
</div>