<div id="mypage-container" class="s-horizon_wrap">
    <div id="mypage-nav" class="s-horizon">
        <div class="mypage-nav-content">
            <h1>계정</h1>
            <ul>
                <a href="#"><li class="mypage-list, <%= @mypage ? @mypage : 'mypage-gray' %>">내 정보 관리</li></a>
                <a href="#"><li>내 정보 관리</li></a>
                <a href="#"><li>내 정보 관리</li></a>
            </ul>
        </div>
        <div class="mypage-nav-content">
            <h1>활동</h1>
            <ul>
                <a href="#"><li>내 정보 관리</li></a>
                <a href="#"><li>내 정보 관리</li></a>
                <a href="#"><li>내 정보 관리</li></a>
                <a href="#"><li>내 정보 관리</li></a>
            </ul>
        </div>
    </div>
    
    
    <div id="mypage-info" class="s-horizon">
        <h1>마이페이지</h1>
        <div class="s-horizon_wrap">
            <div class="s-horizon info-user">
                <img src="/assets/user.png"></img>
            </div>
            
            <div class="s-horizon">
                <p>
                    <span class="info_subtitle">이름</span>
                    <span class="info_content">전다현</span>
                </p>
                <p>
                    <span class="info_subtitle">아이디</span>
                    <span class="info_content">전다현</span>
                </p>
                <p>
                    <span class="info_subtitle">닉네임</span>
                    <span class="info_content">전다현</span>
                </p>
                <p>
                    <span class="info_subtitle">이메일</span>
                    <span class="info_content">전다현</span>
                </p>
                <p>
                    <span class="info_subtitle">학과</span>
                    <span class="info_content">전다현</span>
                </p>
            </div>
        </div>
        <hr class="info_line"></hr>
        <div>
            <span>수정 </span>
            <span> 비밀번호 변경</span>
        </div>
    </div>
</div>