<div id="mypage-container" class="s-horizon_wrap">
    <%= render 'mypage/nav' %>
    
    <div id="mypage-info" class="s-horizon">
        <h1>마이페이지</h1>
        <div class="s-horizon_wrap">
            <div class="s-horizon info-user">
                <img src="/assets/user.png"></img>
            </div>
            
            <div class="s-horizon">
                <p>
                    <span class="info_subtitle">이름</span>
                    <span class="info_content"><%= current_user.name %></span>
                </p>
                <p>
                    <span class="info_subtitle">학번</span>
                    <span class="info_content">ㅁㅁㅁ</span>
                </p>
                <p>
                    <span class="info_subtitle">학과</span>
                    <span class="info_content">ㅁㅁㅁ</span>
                </p>
                <p>
                    <span class="info_subtitle">학교</span>
                    <span class="info_content">ㅁㅁㅁ</span>
                </p>
                <p>
                    <span class="info_subtitle">이메일</span>
                    <span class="info_content"><%= current_user.email %></span>
                </p>
                <p>
                    <span class="info_subtitle">생년월일</span>
                    <span class="info_content">ㅁㅁㅁ</span>
                </p>
            </div>
        </div>
        <hr class="info_line"></hr>
        <div class="mypage_btn_wrap">
            <!--<span class="mypage_btn1">수정</span>-->
            <a href="/mypage/info/check_password" class="mypage_btn1">비밀번호 변경</a>
        </div>
    </div>
</div>