<div id="mypage-container" class="s-horizon_wrap">
    <%= render 'mypage/nav' %>
    
    <div id="mypage-notes_list" class="s-horizon">
        <h1>마이페이지</h1>
        <h2>스터디</h2>

        <h2>공모전</h2>
        
        <h2>동아리</h2>
          <table class="club_board border-color2">
            <% @club.each do |club| %>
              <tbody>
                <tr class="club-table-line">
                  <td>
                    <img src="/assets/1.jpg" alt="a" class="img-board s-horizon">
                    <a href='/club/<%= club.id %>'>
                      <div class="s-horizon">
                        <h1 class="club-title-text black2">
                          <%= club.title %>
                          <% if club.check1 == "on" %>
                            <span class="club_category bg-color1">공식 동아리</span>
                          <% end %>
                          <% if club.check2 == "on" %>
                            <span class="club_category club_category_2">동방</span>
                          <% end %>
                          <span class="club_category club_category_3">마감</span>
                          </h1>
                        <p class="club-subtitle-text black3">멋쟁이 사자처럼은 비전공자도 코딩을 할 수 있는 동아리입니다.</p>
                      </div>
                    </a>
                    <div class="club-etc-text">
                        <p class="color1 mypage_applicants">2/5</p>
                        <div class="mypage_btn_wrap2">
                            <span class="mypage_btn3 bg-color1">지원자 보기</span>
                            <span class="mypage_btn2">수정</span>
                        </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <% end %>
          </table>
    </div>
</div>