<h1>기존 글을 수정해 보아요!</h1>
<form action='/club/<%= @club.id %>' method='post'> // update 액션으로 갈 수 있게 보내야 함.
    <input type="hidden" name="_method" value="patch">  

    <input name='authenticity_token' type='hidden' value=<%= form_authenticity_token %>></input>
    <input name='input_title' type='text' value=<%= @club.title %>></input>
    <input name='input_content' type='text' value=<% @club.content %>></input>
    <input type='submit'></input>
</form>