            <div class="gnb_wrap gnb_wrap2 l-fixed mgn-pd_0">
        <!-- 로고 -->
        <div class="logo">
          <h1>
            <a href="/">
              <img src="/assets/header_logo.png" height="58" width="174" style="margin-top: -7px;">
            </a>
          </h1>
        </div>
        <!-- GNB -->
        <nav class="gnb_nav header2_gnb">
          <ul>
          <% if user_signed_in? %>
            <li><a href="/mypage/info">마이페이지</a></li>
            <li><%= link_to '로그아웃', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to '공지사항', new_user_registration_path %></li>
            <li><%= link_to '로그인 / 회원가입', new_user_session_path %></li>
          <% end %>
          </ul>
        </nav>
      </div>