<div id="club-sidebar-left" class="s-horizon">
  <div class="favorite-main-text">
    <span class="favorite-main">즐겨찾기</span>
  </div>
  <div class="favorite-content border-color2">
    <img src="/assets/1.jpg" alt="a" class="favorite-img s-horizon">
    <div class="favorite-text">
      <p>
        컴퓨터/IT
        <span class="color1 favorite-dday">D-1</span>
      </p>
      <h1>
        멋쟁이 사자처럼
        <span class="favorite-star" style="color: yellow;">★</span>
      </h1>
      <p class="black2">
        <%= "멋쟁이 사자처럼은 비전공자도 코딩을 할 수 있는 동아리입니다."[0, 17] %> ...
      </p>
    </div>
  </div>
  
  <div class="favorite-content border-color2">
    <img src="/assets/1.jpg" alt="a" class="favorite-img s-horizon">
    <div class="favorite-text">
      <p>
        컴퓨터/IT
        <span class="color1 favorite-dday">D-1</span>
      </p>
      <h1>
        멋쟁이 사자처럼
        <span class="favorite-star" style="color: yellow;">★</span>
      </h1>
      <p class="black2">
        <%= "멋쟁이 사자처럼은 비전공자도 코딩을 할 수 있는 동아리입니다."[0, 17] %> ...
      </p>
    </div>
  </div>


  
</div>