<div id="club-sidebar-right" class="s-horizon">
    <a href='/club/new' class="board-button border-color2">
      <i class="far fa-edit color1"></i>
      새 글 작성
    </a>
    <div class="bxslider">
      <div class="ad-wrap">
        <img src="/assets/1.jpg" title="Funky roots" class="ad-component-1">
      </div>
      <div class="ad-wrap">
        <img src="/assets/2.jpg" title="Funky roots" class="ad-component-1">
      </div>
      <div class="ad-wrap">
        <img src="/assets/3.jpg" title="Funky roots" class="ad-component-1">
      </div>
    </div>
</div>