<div id="club-sidebar-left" class="s-horizon">
  <div class="favorite-main-text">
    <span class="favorite-main">즐겨찾기</span>
    <span style="color: yellow;">★</span>
  </div>
  <div class="favorite-content border-color2">
    <img src="/assets/1.jpg" alt="a" class="favorite-img s-horizon">
    <div class="favorite-text">
      <h1>멋쟁이 사자처럼</h1>
      <p class="black2">
        <%= "멋쟁이 사자처럼은 비전공자도 코딩을 할 수 있는 동아리입니다."[0, 17] %> ...
      </p>
      <p>
        <i class="far fa-eye black3"></i> 273 
        <i class="fas fa-thumbs-up"></i> 15 <i class="fas fa-thumbs-down"></i> 2
      </p>
    </div>
  </div>
  
  <div class="favorite-content border-color2">
    <img src="/assets/1.jpg" alt="a" class="favorite-img s-horizon">
    <div class="favorite-text">
      <h1>멋쟁이 사자처럼</h1>
      <p class="black2">
        <%= "멋쟁이 사자처럼은 비전공자도 코딩을 할 수 있는 동아리입니다."[0, 17] %> ...
      </p>
      <p>
        <i class="far fa-eye black3"></i> 273 
        <i class="fas fa-thumbs-up"></i> 15 <i class="fas fa-thumbs-down"></i> 2
      </p>
    </div>
  </div>


  
</div>