<!-- Container -->
  <div id="index-container">
      <!-- 주 메뉴 3개 -->
        <div class="container_nav_wrap">
          <%= link_to study_path do %>
            <div class="container_nav container_nav_v1 border-color2">
                <img src="/assets/index/study.png" class="menu-icon">
              <div class="menu-text-wrap">
                <p class="main-text black2">스터디(준비중)</p>
                <p class="sub-text black3">스터디를 함께 진행하고<br> 같이 할 팀원을 모집합니다.</p>
                <p class="sub-text2 color1">> 모집&지원 바로가기</p>
              </div>
            </div>
          <% end %>
          <%= link_to competition_path do %>
            <div class="container_nav container_nav_v2 border-color2">
                <img src="/assets/index/contest.png" class="menu-icon menu-icon2">
              <div class="menu-text-wrap">
                <p class="main-text black2">공모전(준비중)</p>
                <p class="sub-text black3">공모전을 함께 진행하고<br> 같이 할 팀원을 모집합니다.</p>
                <p class="sub-text2 color1">> 모집&지원 바로가기</p>
              </div>
            </div>
          <% end %>
          <%= link_to club_path do %>
            <div class="container_nav container_nav_v3 border-color2">
              <img src="/assets/index/club.png" class="menu-icon menu-icon3"> 
              <div class="menu-text-wrap">
                <p class="main-text black2">동아리</p>
                <p class="sub-text black3">동아리 활동을 함께<br> 같이 할 팀원을 모집합니다.</p>
                <p class="sub-text2 color1">> 모집&지원 바로가기</p>
              </div>
            </div>
          <% end %>
        </div>



  <!-- Contents -->
    <div id="content">
      <div class="l-fixed">
        <span style="padding-right: 8px;"><strong> 공지사항 </strong></span>
        <span style="font-size: 14px;" class="black3">[공모전] 겟투게더 참가팀 이번 공모전에서 1등 수상</span>
      </div>

    </div>

  </div>